<%- include('../partials/header') %>

<body>
    <h1>This is new ticket page</h1>



    <form action="/flights/<%= flight.id %>/tickets" method="POST">
        
        <label>Seat: 
        <input name="seat" required pattern="[A-F][1-9]\d?">
        </label>

        <br>
        <label>Price: $
        <input name="price" type="number" min="0" max="5000" placeholder="250" step="1">
        </label>
        <br>
        <label>Flight Id:
        <input name="flight" type="string" value="<%= flight.id %>" readonly>
        </label>
        <br>
        <input type="submit" value="Add ticket">
   </form>
<br>
<br>


</body>